
.main-title {
    font-family: 'Press Start 2P', sans-serif,Arial, Helvetica;
    font-size: 40px;
    color: #4200CE;
    text-shadow: 5px 5px 0 #350068;
}

.main-title.-second {
    color: #ffffff;
    text-shadow: #cc96fd;
    text-align: center;
}
