.main-section {
    background-color: #4200CE;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #350068;

}
.main-section .main-title {
    margin-bottom: 15px;
}

.main-section.-bgBlue {
    background-color: #000D3C;
}

.main-section.-bgFirst {
    border-color: #4200CE;
}

.main-section.-bgsecond {
    background-color: #0B3A3A;
}

.main-section.-bdBlue {
    border-color: #4200CE;
}