.wrapper-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.wrapper-skill .skill-tec {
   width: 230px;
   margin-bottom: 15px;
}

.wrapper-skill .progress-bar {
    width: 260px;
}

.wrapper-skill .icon {

}